<h1 class="col-sm-offset-2">BIENVENUE DANS LA PAGE ARTICLE</h1>

<% if @article.errors.any? %>
    <ul>
     <% @article.errors.full_messages.each do |msg| %>
         <li><%= msg %></li>
     <% end %>
     </ul>
<% end %>

<%=render "form"%>  