<div class ="center container">
    <div class="jumbotron">
    <h1>Hello, world!</h1>
    <p>Bienvenue sur ct help</p>
    <p><%= link_to "S'inscrire ", '#', class: "btn btn-primary btn-lg" %></p>
</div>
</div>

<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="..." alt="...">
    </a>
  </div>
  ...
</div>