$navbar-default-bg : #F3F781;



@import "bootstrap-sprockets";
@import "bootstrap";


#logo {
    
    float:left;
    font-size: 1.7em;
    color:black;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
    
    
}

.center {
    text-align:center;
    
    
}

.jumbotron {
    
    background-image: asset-url('Controleauto.jpeg');
    background-size: cover;
    height: 500px;
}

footer {
    
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #333333;
    color: #333333;
    
}

row {
    
    float:center;
}
