<div class='container'>
    <footer>
        
        <small>
            
            Rails heroes course Copyright by fred jmg 
            
        </small>
        
    </footer>
    
    
    
</div>